* {
    padding: 0;
    margin: 0;
    
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px auto 220px;
    overflow: hidden;
    background-size: cover;
}

.Loading {
    display: grid;
    grid-row: span 3;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: white;
    border: none;
    align-items: center;
    justify-items: center;
}

/*LOADING*/
.custom-loader {
    width: 220px;
    height: 32px;
    border-radius: 20px;
    color: #b10020;
    border: 2px solid;
    position: relative;
}
  
.custom-loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: #c40024;
    animation: p6 1s infinite;
}
  
@keyframes p6 {
    100% {
      inset: 0
    }
}

header {
    display: grid;
    grid-row: 1;
    background: linear-gradient(150deg, #FF002F, #79041A);
    align-items: center;
    padding-left: 30px;
    grid-template-columns: auto auto;
    padding-right: 200px;
}

#LogoJogo {
    display: grid;
    grid-column: 1;
    width: 100px;
}

.z-index {
    z-index: 2;
}

#score {
    display: grid;
    grid-column: 2;
    justify-self: end;
    font-weight: bold;
    color: white;
    font-size: 25px;
}

main {
    display: grid;
    grid-row: 2;
    grid-template-columns: 1fr 2.25fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 20px;
    
}

#BOTOES {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 0.90fr 0.90fr;
    grid-template-rows: 0.90fr 0.90fr;
    gap: 10px;
    padding: 10px;
}

.option {
    display: grid;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    width: 1fr;
    height: 1fr;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#flag {
    display: grid;
    width: 327px;
    height: 205px;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
}

#BandeirasCertas {
    display: none;
}

#Black {
    background-color: black;
}

#Red {
    background-color: #FF002F;
}

.option:hover {
    opacity: 0.75;
}

footer {
    display: grid;
    grid-row: 3;
    align-items: end;
    justify-items: center;
}

footer img {
    width: 100%;
}

@media (max-width: 885px) {
    body {
        grid-template-rows: 120px 1fr 0.25fr;
        width: 100vw;
    }
    #flag {
        width: 287px;
        height: 165px;
    }

    header {
        padding-right: 0;
    }

    #score {
        display: grid;
        justify-self: center;
    }

    main {
        padding-top: 30px;
        grid-template-rows: 1fr 1fr;
        grid-row: 2;
    }

    #BOTOES {
        grid-column: span 3;
        grid-template-columns: 0.90fr 0.90fr;
        grid-template-rows: 0.90fr 0.90fr;
    }

    footer {
        margin-bottom: 0;
    }

}

.Errou {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fa3134;
    animation: ir 1s ease-in-out forwards, voltar 0.50s 1s ease-out forwards;
    z-index: 5;
    opacity: 1;
}

.Acertou {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #3eaa00;
    animation: ir 1s ease-in-out forwards, voltar 0.50s 1s ease-out forwards;
    z-index: 3;
    opacity: 1;
}

@keyframes ir {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@keyframes voltar {
    from {
        height: 100%;
    }
    to {
        height: 0;
    }
}

