* {
    padding: 0;
    margin: 0;
    
}

#wp-extension {
    display: none;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.40fr 1fr 0.25fr;
}

.Loading {
    display: grid;
    grid-row: span 3;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: white;
    border: none;
    align-items: center;
    justify-items: center;
}

footer p {
    display: grid;
}

/*LOADING*/
.custom-loader {
    width: 220px;
    height: 32px;
    border-radius: 20px;
    color: #b10020;
    border: 2px solid;
    position: relative;
}
  
.custom-loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: #c40024;
    animation: p6 2s infinite;
}
  
@keyframes p6 {
    100% {
      inset: 0
    }
}

header {
    display: grid;
    grid-row: 1;
    background: linear-gradient(150deg, #FF002F, #79041A);
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 90px;
    height: 100%;
}

#LogoJogo {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    width: 128px;
    margin-left: 90px;
    filter: drop-shadow(0 0 0.40rem black);
}

#timer {
    display: grid;
    grid-column: 3;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 100%;
    height: 77px;
    width: 86px;
    justify-items: center;
    align-items: center;
    justify-self: end;
    font-family: arial;
}

.z-index {
    z-index: 2;
}

#score {
    display: none;
}

main {
    display: grid;
    grid-row: 2;
    grid-template-columns: 1.2fr 2.25fr 1.2fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 10px;
    
}

#BOTOES {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 0.90fr 0.90fr;
    grid-template-rows: 0.90fr 0.90fr;
    gap: 10px;
    padding: 10px;
}

.option {
    display: grid;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    width: 1fr;
    height: 1fr;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.10rem black);
}

#name {
    display: grid;
    background-color: black;
    width: 211px;
    height: 54px;
    border-radius: 30px;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto 1fr;
}

#name p {
    display: grid;
    color: white;
    font-size: 25px;
    justify-self: start;
    padding-left: 20px;
}

#name img {
    width: 22px;
    margin-left: 20px;
}

#flag {
    display: grid;
    width: 347px;
    height: 225px;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
}

#BandeirasCertas {
    display: none;
}

#Black {
    background-color: black;
}

#Red {
    background-color: #FF002F;
}

.option:hover {
    opacity: 0.75;
}

footer {
    display: grid;
    grid-row: 3;
    align-items: end;
    margin-left: 100px;
    justify-items: start;
    font-size: 20px;
}

@media (max-width: 885px) {
    body {
        grid-template-rows: 120px 1fr 0.25fr;
        width: 100vw;
    }
    #flag {
        width: 287px;
        height: 165px;
    }

    header {
        padding-right: 30px;
        
    }

    main {
        padding-top: 30px;
        grid-template-rows: 1fr 1fr;
        grid-row: 2;
    }

    #BOTOES {
        grid-column: span 3;
        grid-template-columns: 0.90fr 0.90fr;
        grid-template-rows: 0.90fr 0.90fr;
    }

    footer {
        margin-bottom: 0;
    }

    #LogoJogo {
        width: 100px;
    }
}

@media (max-width: 540px) {
    #LogoJogo {
        display: none;
    }

    header {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 666px) {
    #LogoJogo {
        margin-left: 20px;
    }
}

.Errou {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fa3134;
    animation: ir 0.50s ease-in-out forwards, voltar 0.50s 0.50s ease-out forwards;
    z-index: 5;
    opacity: 1;
}

.Acertou {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #3eaa00;
    animation: ir 0.50s ease-in-out forwards, voltar 0.50s 0.50s ease-out forwards;
    z-index: 3;
    opacity: 1;
}

@keyframes ir {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@keyframes voltar {
    from {
        height: 100%;
    }
    to {
        height: 0;
    }
}

